<a name="info"></a>
<section class="alpha_24">
    <div class="container group">

        <div class="column_6 centered">
            <h3 class="center">La conferenza</h3>

            <p>
                Ti sei mai chiesto come poter diffondere rapidamente la tua app su diversi dispositivi mobile come iOS, Android o desktop, scrivendo il codice una volta sola?
            </p>
            <p>
                Aziende come Facebook, NetFlix o PayPal utilizzano JavaScript nel loro development stack a partire dal server web fino al loro dispositivo mobile; in questa giornata dedicata al JavaScript vogliamo discutere assieme tramite talk e laboratori su come JavaScript possa migliorare ed ampliare il target delle nostre app, ma soprattutto comprendere assieme quanto questo linguaggio utilizzato assieme a nuovi framework e pattern come React Native, Ionic, Server Side Rendering, Progressive Web Apps, Electron, NativeScript aprano nuovi orizzonti nello sviluppo di applicazioni in cloud.
            </p>

            <p>
                La conferenza è organizzata dal <a href="http://www.grusp.org">GrUSP</a>
                {% if page.partner %}
                e da <a href="{{ page.partner_url}}">{{ page.partner }}</a>
                {% endif %}
            </p>

            <p>
                Per rimanere informato <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra
                newsletter</a>.
            </p>
        </div>


        <div class="clear"></div>
    </div>
    <div class="separator"></div>
</section>
